body {
  background: #000;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #007bff;
}

.container {
  border: 1px solid #007bff;
  padding: 30px;
  border-radius: 8px;
  width: 350px;
  text-align: center;
}

input {
  width: 91%;
  margin: 8px 0;
  padding: 12px;
  border-radius: 6px;
  border: none;
  background: #1a1a1a;
  color: white;
}

button {
  width: 100%;
  padding: 12px;
  background: #007bff;
  border: none;
  border-radius: 6px;
  color: white;
  margin-top: 10px;
  cursor: pointer;
}

.password-container {
  position: relative;
}

.password-container span {
  position: absolute;
  right: 10px;
  top: 30%;
  cursor: pointer;
}
